<div class="p-3">
    <h2><u>Privacy Policy</u></h2>
    <p>vardhanmabbu.com is my(Mabbu Saivardhan Reddy) personal website like a portfolio. Your privacy is important to me. To better protect your
        privacy I provide this
        notice explaining my online
        information
        practices and the choices you can make about the way your information is collected and used.</p>
    <br><br><br>
    <h3>The Information I Collect</h3>
    <p>I only collect name of the user (only If she/ he wish to say their name), I am not storing this name anywhere and
        this data gets removed when session gets expired(max 20 minutes). Except for name no other data is collected
        from
        the user.</p>
    <br><br>
    <h3>My Commitment to Data Security</h3>
    <p>To prevent unauthorized access and maintain data accuracy, I use industry standard methods to safeguard and
        secure
        the information. I believe in protecting your information just as I would want my information protected. In the
        event that personal information is compromised as a result of a breach of security, I will promptly notify those
        persons whose personal information has been compromised as may be required by applicable law.</p>
    <br><br>
    <h3>Child Protection</h3>
    <p>I do not offer services to, or target, persons under the age of 13. In compliance with the Children's Online
        Privacy
        Protection Act, I will purge any information I receive from people I believe to be children under 13.</p>
    <br><br>
    <h3>Use of User Information</h3>
    <p>I am collecting only name from the user that too if she/ he wishes to say. I am using this name to address them
        from
        my Chatbot. This name will be in session for maximum of 20 minutes and gets deleted with the session expiry. No
        database is used here.</p>
    <br><br>
    <h3>How to Contact Us</h3>
    <p>If you have other questions or concerns about these privacy policies, please send me email at <a
            href="mailto: vardhanmreddy@gmail.com">vardhanmreddy@gmail.com</a></p>
    <br><br>
</div>